body {
    min-height: 100vh;
    background-image: radial-gradient( circle farthest-corner at 0.2% 1.8%,  rgba(255,90,8,1) 0%, rgba(88,0,0,1) 100.2% );
}

.row {
display: flex;
justify-content: center;
align-items: center;

}

.box {
    width: 100px;
    height: 100px;
    border: 10px solid black;
    border-radius: 50%;
    margin-right: 50px;  
    margin-left: 50px; 
    position: relative; 
    
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
}

.chatinterface {
position: relative;
border: 10px solid black;
padding: 40px;
border-radius: 5px;
background-color: lightblue;
font-family: sans-serif;   
margin-bottom: 20px;
}

.chatinterface:hover {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 200ms;
}
img {
    size: 5%;
}

.arrow-left {
   position: absolute;
    width: 0; 
    height: 0; 
    left: -27px;
    top: 70px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid rgb(2, 2, 2);
} 
.arrow-right {
    position: absolute;
     width: 0; 
     height: 0; 
     right: -27px;
     top: 70px;
     border-top: 20px solid transparent;
     border-bottom: 20px solid transparent;
     border-left: 20px solid rgb(2, 2, 2);
 } 